@import "../defaults/colors";

main {
    section {
        // samsung tablet/tablet component.
        .samsung-tablet {
            width: 650px;
            box-sizing: border-box;
            display:flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: $primary-color;
            margin: 30px;
            box-shadow: $shadow-color;

            &:hover {
                background-color: #252324;
            }
            
            .screen {
                padding: 10px;
                margin: 0px;
                
                .link {
                    .my-pic {
                    display: block;
                    width: 600px;
                    height: 400px;
                    border-radius: 10px;
                    object-fit: cover;
                    }
                }   
            }

            .camera-lens {  
                border-radius: 50%;
                margin: 0px 10px 0px 0px;
                box-sizing: border-box;
                
                .lens-image {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    main {
        section {
            // samsung tablet/tablet component.
            .samsung-tablet {
                width: 550px;
                
                .screen {
                    padding: 10px;

                    .link {

                        .my-pic {
                        width: 500px;
                        height: 300px;
                        }
                    }    
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    main {
        section {
            // samsung tablet/tablet component.
            .samsung-tablet {
                width: 300px;
                
                .screen {
                    padding: 7px;

                    .link {

                        .my-pic {
                        width: 270px;
                        height: 150px;
                        }
                    } 
                }
                .camera-lens {  
                    
                    .lens-image {
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }
    }
}