// color for background of each page.
$background-template-color: linear-gradient(to top right, #012338, #6eeeff);

$primary-color: #ffffff;

$secondary-color: #205691;

$shadow-color: 10px 10px 10px rgb(56, 56, 56);

$tablet-hover-color: #252324;

$text-box-color: #000000a2;

// color for the header component text when hovered over
$text-hover-color: #fca603;

$blog-heading-color: rgba(0, 0, 0, 0.863);